<p id="notice"><%= notice %></p>

<p>
  <strong>Mentor:</strong>
  <%= @course.mentor %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @course.staff %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @course.startdate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @course.enddate %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @course.skill %>
</p>

<p>
  <strong>Status:</strong>
  <%= @course.status %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
