<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "AsNet Mentor App", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <% if user_signed_in? %>
    		  <%= link_to "Sign out", destroy_user_session_path,:method => :delete %></li>
    		  <% else %>
    		  <li><%= link_to "Sign up", new_user_registration_path %></li>
    		  <li><%= link_to "Sign in", new_user_session_path %></li>
    		  <li><%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %></li>
    		  <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>